body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /*text-transform: uppercase;*/
}

h1 {
  text-align: center;
}

.parent-properties {
  color: #58595B;
  background-color: #F4F4F4;
  padding: 15px 0 15px 0;
  font-size: 14px;
}

nav ul, .value-options {
  list-style: none;
  display: flex;
  justify-content: center;
}

.value-options {
  font-size: 15px;
  padding: 0;
  /*justify-content: flex-start;*/
}

.value-options li, nav ul li {
  margin: 15px;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #58595B;
}

.code-samples {
  background-color: #272C34;
  /*color: white;*/
  border-radius: 3px;
  text-transform: none;
  max-width: 900px;
  margin: 40px auto;
}

/*pre {
  font-family: 'Cousine', monospace;
  font-size: 16px;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 10px 3% 10px 3%;
}*/

.parent {
  display: flex;
  border: 1px solid #E6E7E8;
  border-radius: 3px;
  min-height: 300px;
  max-width: 900px;
  margin: 0 auto;
}

.parent div {
  background-color: indianred;
  color: white;
  margin: 10px;
  padding: 20px;
  height: 24px;
  text-align: center;
  border-radius: 3px;
}

.description {
  text-align: center;
  text-transform: none;
}

.selected {
  color: #17a3dd;
  /*border-bottom: 1px solid #169FDA;*/
}
.parent-properties ul,li:hover {
  color: #17a3dd;
  /*border-bottom: 1px solid #169FDA;*/
}

/* Extra Classes */

.parent div.wide {
  width: 300px;
}

div.vary-font-sizes:nth-child(even) {
  font-size: 30px;
}

.wrapped {
  flex-wrap: wrap;
}
